{% extends "base.html" %}
{% load static %}
{% block title %}Cadastrar Produto{% endblock  %}

{% block content %}

    <div class="card mx-auto" style="width: 18rem; height: 18rem;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Cadastrar Produto</h5>
            {{ form.as_p }}
            <button type="submit" id="submit" class="btn btn-secondary">Cadastrar</button>
        </div>
        </form>

      </div>
{% endblock %}
