{% extends "base.html" %}

{% block title %}Produtos{% endblock  %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Produtos</h2>
    
    <div class="row">
        {% for produto in produtos %}
            <div class="col-md-4 mb-4">
                <div class="card" style="min-height: 400px;">
                    <img style="height: 200px; object-fit: contain;" src="{{ produto.foto.url }}" class="card-img-top" alt="{{ produto.nome }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text">Preço: R$ {{ produto.preco }}</p>
                        <form method="post" action="{% url 'listar_produtos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="produto_id" value="{{ produto.id }}">
                            <label for="cliente">Adicionar a comanda de:</label>
                            <select name="cliente" class="form-control">
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary mt-2">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}