{% extends "base.html" %}
{% block title %}Listar Clientes{% endblock  %}

{% block content %}
<h2>Listar Clientes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Itens</th>
            <th>Total Individual</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{% url "comanda_individual" cliente.id %}">{{ cliente.nome }}</a></td>
                <td>
                    {% for pedido_quantity in cliente.itens_quantidades %}
                        {{ pedido_quantity.produto__nome }} ({{ pedido_quantity.total }}),
                    {% endfor %}
                </td>
                <td>R$ {{ cliente.total_pedido }}</td>
                <td><center><a href="{% url 'delete' cliente.id %}">delete</a></center></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <button type="submit">Marcar Pagamento</button>
</form>

{% endblock %}
